<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- bower:css -->
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/bootstrap.vw.min.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/main.css">
    <!-- endinject -->
</head>
<body >

<div style="width:100%;background-color: #EAEEED; padding:10px 10px 10px 10px;" >
    <div id="container" class="container" ng-controller="mainCtrl">
        <form>
            <div class="row">
                <h1 class="text-center">Anforderung an Kundendaten für Abwicklung</h1>
            </div>

            <div class="row"><!--START ADDRESS DATA-->
                <div class="row">
                    <h2 class="text-center">Adressdaten</h2>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="salutation" class="control-label" translate="SALUTATION"></label>

                            <div class="btn-group" name="salutation" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="radio" name="inputWalls" value="Herr">
                                    {{'MR'|translate}} </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="inputWalls" value="Frau">
                                    {{'MRS'|translate}} </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="forename" class="control-label" translate="FORENAME"></label>
                            <input type="text" class="form-control" name="forename" placeholder="Max"
                                   ng-model="forename"
                                   required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="surname" class="control-label" translate="SURNAME"></label>
                            <input type="text" class="form-control" name="surname" placeholder="Muster"
                                   ng-model="surname"
                                   required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-7">
                        <div class="form-group">
                            <label for="street" class="control-label" translate="STREET"></label>
                            <input type="text" class="form-control" name="street" placeholder="Musterstrasse"
                                   ng-model="street"
                                   required>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group">
                            <label for="street_nr" class="control-label" translate="STREET_NR"></label>
                            <input type="text" class="form-control" name="street_nr" placeholder="21"
                                   ng-model="forename"
                                   required>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="po_box" class="control-label" translate="PO_BOX"></label>
                            <input type="text" class="form-control" name="po_box" placeholder="7"
                                   ng-model="po_box"
                                   required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-2">
                        <div class="form-group">
                            <label for="zip" class="control-label" translate="ZIP"></label>
                            <input type="text" class="form-control" name="zip" placeholder="1234"
                                   ng-model="zip"
                                   required>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="city" class="control-label" translate="CITY"></label>
                            <input type="text" class="form-control" name="city" placeholder="Musterhausen"
                                   ng-model="forename"
                                   required>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="telephone" class="control-label" translate="TELEPHONE"></label>
                            <input type="text" class="form-control" name="telephone" placeholder="012 345 67 89"
                                   ng-model="telephone"
                                   required>
                        </div>
                    </div>
                </div>
            </div>
            <!--END ADDRESS DATA-->

            <div class="row">
                <div class="row">
                    <h2 class="text-center">Daten für Auszahlung</h2>
                </div>
                <div class="row">
                    <h3 style="padding-left:14px" class="control-label">Bankverbindung:</h3>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="bank_name" class="control-label" translate="BANK_NAME"></label>
                            <input type="text" class="form-control" name="bank_name" placeholder="Musterbank"
                                   ng-model="bank_name"
                                   required>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="bank_city" class="control-label" translate="BANK_CITY"></label>
                            <input type="text" class="form-control" name="bank_city" placeholder="Musterort"
                                   ng-model="bank_city"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="bank_iban" class="control-label" translate="BANK_IBAN"></label>
                            <input type="text" class="form-control" name="bank_iban"
                                   placeholder="CH23 0483 5020 6290 8100 0"
                                   ng-model="bank_iban"
                                   required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <h3 style="padding-left:14px" class="control-label">Postverbindung:</h3>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="bank_account" class="control-label" translate="BANK_ACCOUNT"></label>
                            <input type="text" class="form-control" name="bank_account" placeholder="50-8700-1"
                                   ng-model="bank_account"
                                   required>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row" style="margin-right:-45px">
                <div class="col-xs-12" style="margin-left:-15px; padding-right:-150px; margin-bottom: -15px">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-block" ng-click="submitData()"
                                translate="SUBMIT"></button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<!-- endbower -->

<!-- inject:js -->
<script src="/app.js"></script>
<!-- endinject -->
</body>
</html>