<!DOCTYPE html>
<html ng-app="app" style="height:100%; overflow: hidden;">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="UTF-8">

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ngprogress/ngProgress.css" />
    <link rel="stylesheet" href="bower_components/angular-block-ui/dist/angular-block-ui.css" />
    <!-- endbower -->


    <!-- inject:css -->
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/main.css">
    <!-- endinject -->


    <script>
        function HandleBrowseClick() {
            var fileinput = document.getElementById("browse");
            fileinput.click();
        }

        function Handlechange() {
            var fileinput = document.getElementById("browse");
            var textinput = document.getElementById("filename");

            textinput.value = fileinput.value.substring(fileinput.value.indexOf("fakepath") + 9);
        }
    </script>

</head>
<body ng-controller="mainCtrl" style="
zoom:84%;
-moz-transform: scale(0.84);
-moz-transform-origin: left top;
">

<div ng-show="submitted && !failed">
    <span translate="SUCCESS_TEXT"></span>
</div>
<div ng-show="submitted && failed">
    <span translate="ERROR_TEXT"></span>
</div>

<div ng-show="!submitted">
    <h1 translate="TITLE_1"></h1>
    <div class="error-text" ng-show="myForm.$invalid && startValidation">
        <h2 translate="FORM_INVALID"></h2>
    </div>
    <div class="wrapper">

        <form name="myForm" class="form" ng-submit="submit()" novalidate autocomplete="off">

            <h2 style="margin-top: -5px" translate="ADDRESSDATA"></h2>

            <div class="field" name="salutation_field">
                <div class="label">
                    <label name="salutation_label"
                           ng-class="{'error':myForm.$invalid && startValidation && salutation == undefined}"
                           translate="SALUTATION"></label>
                </div>
                <div class="input">
                    <select ng-required="true" ng-model="salutation">
                        <option value="" translate="CHOOSE"></option>
                        <option value="mr" translate="MR"></option>
                        <option value="mrs" translate="MRS"></option>
                    </select>
                </div>
            </div>

            <div class="field" name="forename_field">
                <div class="label">
                    <label name="forename_label"
                           ng-class="{'error':myForm.$invalid && startValidation && (forename == undefined || forename.length == 0)}"
                           translate="FORENAME"></label>
                </div>
                <div class="input">
                    <input type="text" name="forename_input" ng-model="forename" ng-required="true">
                </div>
            </div>

            <div class="field" name="surname_field">
                <div class="label">
                    <label name="surname_label"
                           ng-class="{'error':myForm.$invalid && startValidation && (surname == undefined || surname.length == 0)}"
                           translate="SURNAME"></label>
                </div>
                <div class="input">
                    <input type="text" name="surname_input" ng-model="surname" ng-required="true">
                </div>
            </div>

            <div class="field" name="street_field">
                <div class="label">
                    <label name="street_label"
                           ng-class="{'error':myForm.$invalid && startValidation && ((street == undefined || street.length == 0) || (street_nr == undefined || street_nr.length == 0))}"
                           translate="STREETNR"></label>
                </div>
                <div class="input2">
                    <input class="street" type="text" name="street_input" ng-model="street" ng-required="true">
                    <input class="streetnr" type="text" name="streetNr_input" ng-model="street_nr" ng-required="true">
                </div>
            </div>

            <div class="field" name="poBox_field">
                <div class="label">
                    <label name="poBox_label" translate="PO_BOX"></label>
                </div>
                <div class="input">
                    <input type="text" name="poBox_input" ng-model="po_box">
                </div>
            </div>

            <div class="field" name="zip_field">
                <div class="label">
                    <label name="zip_label"
                           ng-class="{'error':myForm.$invalid && startValidation && (zip == undefined || zip.length == 0)}"
                           translate="ZIP"></label>
                </div>
                <div class="input">
                    <input type="text" name="zip_input" ng-model="zip" ng-required="true">
                </div>
            </div>

            <div class="field" name="city_field">
                <div class="label">
                    <label name="city_label"
                           ng-class="{'error':myForm.$invalid && startValidation && (city == undefined || city.length == 0)}"
                           translate="CITY"></label>
                </div>
                <div class="input">
                    <input type="text" name="city_input" ng-model="city" ng-required="true">
                </div>
            </div>

            <div class="field" name="email_field">
                <div class="label">
                    <label name="email_label"
                           ng-class="{'error':myForm.$invalid && startValidation && (email == undefined || email.length == 0)}"
                           translate="EMAIL"></label>
                </div>
                <div class="input">
                    <input type="text" name="email_input" ng-model="email"
                           ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"
                           ng-required="true">
                </div>
            </div>

            <div class="field" name="telephone_field">
                <div class="label">
                    <label name="telephone_label"
                           ng-class="{'error':myForm.$invalid && startValidation && (telephone == undefined || telephone.length == 0)}"
                           translate="TELEPHONE"></label>
                </div>
                <div class="input">
                    <input type="text" name="telephone_input" ng-model="telephone" ng-required="true">
                </div>
            </div>

            <h2 translate="TITLE_2"></h2>

            <h3 translate="TITLE_3"></h3>

            <div class="field" name="bankName_field">
                <div class="label">
                    <label name="bankName_label"
                           ng-class="{'error':myForm.$invalid && startValidation && ((bank_name == undefined || bank_name.length == 0) && (bank_account == undefined || bank_account.length == 0))}"
                           translate="BANK_NAME"></label>
                </div>
                <div class="input">
                    <input type="text" name="bankName_input" ng-model="bank_name">
                </div>
            </div>

            <div class="field" name="bankCity_field">
                <div class="label">
                    <label name="bankCity_label"
                           ng-class="{'error':myForm.$invalid && startValidation && ((bank_city == undefined || bank_city.length == 0) && (bank_account == undefined || bank_account.length == 0))}"
                           translate="BANK_CITY"></label>
                </div>
                <div class="input">
                    <input type="text" name="bankCity_input" ng-model="bank_city">
                </div>
            </div>

            <div class="field" name="bankIban_field">
                <div class="label">
                    <label name="bankIban_label"
                           ng-class="{'error':myForm.$invalid && startValidation && (((bank_iban == undefined || bank_iban.length == 0) && (bank_account == undefined || bank_account.length == 0) || !IBANisValid && (bank_account == undefined || bank_account.length == 0)))}"
                           translate="BANK_IBAN"></label>
                </div>
                <div class="input">
                    <input type="text" name="bankIban_input" ng-model="bank_iban">
                </div>
                <br>
                <div class="sample">
                    <span translate="SAMPLE_BANK_IBAN"></span>
                </div>
            </div>

            <h3 translate="TITLE_4"></h3>


            <div class="field" name="bankAccount_field">
                <div class="label">
                    <label name="bankAccount_label"
                           ng-class="{'error':myForm.$invalid && startValidation && (bank_account == undefined || bank_account.length == 0)  && ((bank_name == undefined || bank_name.length == 0) || (bank_city == undefined || bank_city.length == 0) || (bank_iban == undefined || bank_iban.length == 0))}"
                           translate="BANK_ACCOUNT"></label>
                </div>
                <div class="input">
                    <input type="text" name="bankAccount_input" ng-model="bank_account">
                </div>
                <br>
                <div class="sample" style="">
                    <span translate="SAMPLE_BANK_ACCOUNT"></span>
                </div>
            </div>

            <br>
            <br>

            <!--<div class="field" name="upload_pdf">
                <div class="label">
                    <label name="upload_label"
                           ng-class="{'error':myForm.$invalid && startValidation && (upload_file == undefined || !fileIsValid)}"
                           translate="UPLOAD"></label>
                </div>
                <div class="input" style="width:100px">
                    <input type="file" data-buttonText="Your label here." fileread ng-model="upload_file"
                           accept="application/pdf" required="true" style="width:250px">
                </div>
            </div>-->
            <div class="field" name="upload_pdf">
                <div class="label">
                    <label name="upload_label"
                           ng-class="{'error':myForm.$invalid && startValidation && (upload_file == undefined || !fileIsValid)}"
                           translate="UPLOAD"></label>
                </div>
                <div class="inputfile" style="width:155px;float:right; margin-right:-78px;">
                    <input type="file" id="browse" name="fileupload" fileread ng-model="upload_file"
                           accept="application/pdf" required="true" style="display: none" onChange="Handlechange();">
                    <input type="button" value="{{'UPLOAD_BUTTON_LABEL'|translate}}" id="fakeBrowse"
                           onclick="HandleBrowseClick();"/>
                    <input type="text" style="width:150px; float:right; margin-right: -80px;" id="filename"
                           readonly="true"/>
                </div>
            </div>

            <div class="submitArea">
                <div class="required" translate="REQUIRED"></div>
                <input type="submit" class="button" value="{{'SUBMIT'|translate}}">
            </div>
        </form>
    </div>
</div>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/ngprogress/build/ngprogress.js"></script>
<script src="bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
<script src="bower_components/bootstrap-filestyle/src/bootstrap-filestyle.js"></script>
<script src="bower_components/moxie/bin/js/moxie.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<!-- endbower -->

<!-- inject:js -->
<script src="/app.js"></script>
<!-- endinject -->

<script>mOxie.Env.swf_url = 'bower_components/moxie/bin/flash/Moxie.min.swf';</script>
<script>
    //window.FileReader = mOxie.FileReader;
</script>


</body>
</html>