<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="UTF-8">

    <!-- bower:css -->
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/main.css">
    <!-- endinject -->
</head>
<body ng-controller="mainCtrl">

<h1 translate="TITLE_1"></h1>
<div class="error-text" ng-show="myForm.$invalid && isSubmited">
    <h2 translate="FORM_INVALID"></h2>
</div>
<div class="wrapper" >



    <div class="form" ng-form="myForm">

        <h2 style="margin-top: -5px" translate="ADDRESSDATA"></h2>

        <div class="field" name="salutation_field">
            <div class="label">
                <label name="salutation_label" ng-class="{'error':myForm.$invalid && isSubmited && salutation == undefined}" translate="SALUTATION"></label>
            </div>
            <div class="input">
                <select ng-required="true">
                    <option value="" ng-model="salutation" translate="CHOOSE"></option>
                    <option value="mr" ng-model="salutation" translate="MR"></option>
                    <option value="mrs" ng-model="salutation" translate="MRS"></option>
                </select>
            </div>
        </div>

        <div class="field" name="forename_field">
            <div class="label">
                <label name="forename_label" ng-class="{'error':myForm.$invalid && isSubmited && (forename == undefined || forename.length == 0)}" translate="FORENAME"></label>
            </div>
            <div class="input">
                <input type="text" name="forename_input" ng-model="forename" ng-required="true">
            </div>
        </div>

        <div class="field" name="surname_field">
            <div class="label">
                <label name="surname_label" translate="SURNAME"></label>
            </div>
            <div class="input">
                <input type="text" name="surname_input" ng-model="surname" ng-required="true">
            </div>
        </div>

        <div class="field" name="street_field">
            <div class="label">
                <label name="street_label" translate="STREETNR"></label>
            </div>
            <div class="input2">
                <input class="street" type="text" name="street_input" ng-model="street" ng-required="true">
                <input class="streetnr" type="text" name="streetNr_input" ng-model="streetNr" ng-required="true">
            </div>
        </div>

        <div class="field" name="poBox_field">
            <div class="label">
                <label name="poBox_label" translate="PO_BOX"></label>
            </div>
            <div class="input">
                <input type="text" name="poBox_input" ng-model="poBox">
            </div>
        </div>

        <div class="field" name="zip_field">
            <div class="label">
                <label name="zip_label" translate="ZIP"></label>
            </div>
            <div class="input">
                <input type="text" name="zip_input" ng-model="zip" ng-required="true">
            </div>
        </div>

        <div class="field" name="city_field">
            <div class="label">
                <label name="city_label" translate="CITY"></label>
            </div>
            <div class="input">
                <input type="text" name="city_input" ng-model="city" ng-required="true">
            </div>
        </div>

        <div class="field" name="email_field">
            <div class="label">
                <label name="email_label" translate="EMAIL"></label>
            </div>
            <div class="input">
                <input type="text" name="email_input" ng-model="email" ng-required="true">
            </div>
        </div>

        <div class="field" name="telephone_field">
            <div class="label">
                <label name="telephone_label" translate="TELEPHONE"></label>
            </div>
            <div class="input">
                <input type="text" name="telephone_input" ng-model="telephone" ng-required="true">
            </div>
        </div>

        <h2 translate="TITLE_2"></h2>

        <h3 translate="TITLE_3"></h3>

        <div class="field" name="bankName_field">
            <div class="label">
                <label name="bankName_label" translate="BANK_NAME"></label>
            </div>
            <div class="input">
                <input type="text" name="bankName_input" ng-model="bankName" ng-required="true">
            </div>
        </div>

        <div class="field" name="bankCity_field">
            <div class="label">
                <label name="bankCity_label" translate="BANK_CITY"></label>
            </div>
            <div class="input">
                <input type="text" name="bankCity_input" ng-model="bankCity" ng-required="true">
            </div>
        </div>

        <div class="field" name="bankIban_field">
            <div class="label">
                <label name="bankIban_label" translate="BANK_IBAN"></label>
            </div>
            <div class="input">
                <input type="text" name="bankIban_input" ng-model="bankIban" ng-required="true">
            </div>
            <br>
            <div class="sample">
                <span translate="SAMPLE_BANK_IBAN"></span>
            </div>
        </div>

        <h3 translate="TITLE_4"></h3>


        <div class="field" name="bankAccount_field">
            <div class="label">
                <label name="bankAccount_label" translate="BANK_ACCOUNT"></label>
            </div>
            <div class="input">
                <input type="text" name="bankAccount_input" ng-model="bankAccount" ng-required="true">
            </div><br>
            <div class="sample" style="">
                <span translate="SAMPLE_BANK_ACCOUNT"></span>
            </div>
        </div>

        <br>
        <br>

        <div class="field" name="upload_pdf">
            <div class="label">
                <label name="upload_label" translate="UPLOAD"></label>
            </div>
            <div class="input">
                <input type="file" name="upload_input" ng-model="upload_file" ng-required="true">
            </div>
        </div>

        <div class="submitArea">
            <div class="required" translate="REQUIRED"></div>

            <input type="submit" class="button" ng-click="submit()" value="{{'SUBMIT'|translate}}">
        </div>
    </div>
</div>

<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<!-- endbower -->

<!-- inject:js -->
<script src="/app.js"></script>
<!-- endinject -->
</body>
</html>