* { font-family:arial, helvetica, sans-serif; font-size:11px; line-height:1.5em; color:#333333; }
body, html { margin:0; padding:0; width:100%; height:100%; }

img { border:0; }

a { color:#2274AC; text-decoration:none; }
a u { color:#2274AC; text-decoration:none; }
a span { color:#ff8000; display:inline-block; }
a span.mono { color:#2274AC; }
a span.back { -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; }
a:hover u { text-decoration:underline; }

.button { display:block; float:left; cursor:pointer; background-color:#2274AC; color:#fff; font-size:12px !important; padding:10px !important; padding-top:4px !important; padding-bottom:4px !important; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; -webkit-box-shadow:#666 0 1px 2px;-moz-box-shadow:#666 0 1px 2px; box-shadow:#666 0 1px 2px; }
.button:hover { background-color:#003C65; }

hr { display:block; border:0; margin:1em; margin-left:0; margin-right:0; height:1px; background-color:#CFD7D9; }

div.wrapper { max-width:500px; width:100%; padding-top:1em; padding-bottom:1em; margin:auto; }
div.wrapper h1 { margin:0; margin-bottom:1em; font-size:22px; line-height:1em; }
div.wrapper h2+h3 { margin-top:-1em; padding-top:1em; }

div.wrapper form { display:block; position:relative; margin:0; padding:10px; background-color:#EAEEED; overflow:hidden; }

div.wrapper form h3 { margin-top:0; }
div.wrapper form > div { overflow:hidden; clear:both; }
div.wrapper form .space { margin-top:2em; }
div.wrapper form .space.standard { margin-top:10px; }

div.wrapper form label { display:block; font-weight:bold; line-height:24px; margin-bottom:0.5em; float:left; width:30%; }
div.wrapper form label small { line-height:1.6em; font-size:10px; font-weight:normal; }
div.wrapper form div.field { display:block; width:65%; float:right; }
div.wrapper form div.field:last-child { margin-bottom:10px; }

div.wrapper form div.field div.input { background-color:#fff; border:1px solid #CFD7D9; overflow:hidden; clear:both; }
div.wrapper form div.field div.input > div { padding:3px; overflow:hidden; clear:both; }
div.wrapper form div.field select,
div.wrapper form div.field div.input > div > input,
div.wrapper form div.field div.input > div > textarea { width:100%; margin:0; padding:0; border:0; outline:none; float:left; }
div.wrapper form div.field select { height:24px; padding:4px; border:1px solid #CFD7D9; }
div.wrapper form div.field textarea { height:100px; }

div.wrapper form div.field div.checkbox { display:block; position:relative; float:left; width:100%; overflow:hidden; margin-top:3px; }
div.wrapper form div.field div.checkbox.half { width:50%; }
div.wrapper form div.field div.checkbox.third { width:33%; }
div.wrapper form div.field div.checkbox label { display:block; width:auto; line-height:18px; font-weight:normal; padding-right:10px; padding-left:2em; }
div.wrapper form div.field div.checkbox input { display:inline; position:absolute; left:0; width:auto; margin-right:10px; float:left; }

div.wrapper form div.field.brochure_group { display:none; margin-bottom:10px; }
div.wrapper form div.field.brochure_value { margin:0; }
div.wrapper form div.field.brochure_value div { overflow:hidden; }
div.wrapper form div.field.brochure_value div.brochure_value_group { margin-bottom:10px; }
div.wrapper form div.field.brochure_value div.title { line-height:24px; font-weight:bold; }
div.wrapper form div.field.brochure_value div.checkbox { display:none; }
div.wrapper form div.field.brochure_value div.checkbox.shown { display:block; }

div.wrapper form div.field.brochure_value div.brochure_value_group.selected { border-top:1px solid #CFD7D9; color:#333333; padding-top:10px; }

div.wrapper form div.dealers {
    display:block;
    position:relative;
    height:208px;
    margin-top:10px;
    margin-bottom:10px;
    overflow-y:scroll;
    background-color:#fff;
}
div.wrapper form div.dealers div.dealer { display:block; position:relative; overflow:hidden; background-color:#fff; padding:0.5em; padding-left:0; padding-bottom:0.2em; border-bottom:0.5em solid #EAEEED; }
div.wrapper form div.dealers div.dealer:last-child { border:0; }
div.wrapper form div.dealers div.dealer.selected { background-color:#f8f8f8; }
div.wrapper form div.dealers div.dealer.error { background-color:red; color:#fff; }
div.wrapper form div.dealers div.dealer.error * { color:#fff; }
div.wrapper form div.dealers div.dealer input { float:left; margin:15px; margin-top:1em; }
div.wrapper form div.dealers div.dealer label { width:70%; margin:0; font-weight:normal; }

.map { height:250px; }
.inactive,.hidden { display:none !important; }
.hidden.terms { display:block !important; padding-left:2em; }

div.wrapper form .error label  { color:red; }
div.wrapper form .button { display:block; float:right; width:auto; margin:0; margin-left:10px; background-color:#fff; border:1px solid #CFD7D9; color:#333333; padding:3px; line-height:1em; }
div.wrapper form .button:hover { background-color:#EAEEED; }

div.wrapper > div.error { margin-bottom:1em; text-align:center; color:red; font-weight:bold; font-size:14px; }

body.loading div.wrapper { display:none; }

@media only screen and (min-width: 0px) and (max-width: 499px) {
    div.wrapper h1 { margin-left:10px; margin-right:10px; }
}

@media only screen and (min-width: 0px) and (max-width: 419px) {
    div.large > label,
    div.large > div.field { display:block; float:none !important; width:auto !important; }

    div.wrapper form div.field div.checkbox.half,
    div.wrapper form div.field div.checkbox.third { float:none; width:auto; }
}